{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="d-flex">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 250px;">
        <h5 class="text-center">{{ language }} Dersleri</h5>
        <ul class="nav nav-pills flex-column mb-auto">
            {% if pages %}
            {% for page in pages %}
            <li class="nav-item">
                <a href="javascript:void(0);" 
                   class="nav-link" 
                   onclick="loadContent('{{ page.slug }}', '{{ language|lower }}')">
                    {{page.title}}
                </a>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
    <div id="contentDetail" class="flex-grow-1 p-4">
        <div class="text-center text-muted">
            Lütfen soldaki menüden bir ders seçiniz
        </div>
    </div>
</div>

<script src="{% static 'js/content-loader.js' %}"></script>
{% endblock %}
